* {
    main-bg:            #050712E6;
    main-fg:            #CCD4FF;
    main-br:            #243369;
    main-ex:            #13193E;
    select-bg:          #F0AADF;
    select-fg:          #522948;
}
